* {
  margin: auto 0;
}

body {
  background-color: #e6e6ff;
}

header {
  background-color: darkmagenta;
}

.salarycalculator h1 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  text-align: center;
  margin: auto 0;
  padding: 20px;
  color: white;
}

#addEmployee h3 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 120px;
  padding-left: 100px;
}

form#submitEmployee {
  margin-left: 120px;
  padding-left: 100px;
  margin-top: 60px;
}

input#fname {
  padding: 10px;
  margin-right: 25px;
}

input#lname {
  padding: 10px;
  margin-right: 25px;
}

input#idNumber {
  padding: 10px;
  margin-right: 25px;
}

input#employeeTitle {
  padding: 10px;
  margin-right: 25px;
}

input#annualSalary {
  padding: 10px;
}

#submitButton {
  background-color: white;
  padding: 10px 24px;
  text-align: center;
  border-radius: 6px;
  margin-top: 40px;
  font-size: 14px;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 120px;
  padding-left: 100px;
  padding-top: 40px;
}

#employeeInformation {
  width: 70%;
  text-align: left;
  margin-left: 120px;
  padding-left: 100px;
  padding: 100px;
  font-family: "Oswald", sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
}

thead {
  margin-left: 60px;
  padding-left: 40px;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 80px;
  padding-bottom: 80px;
}

thead,
tr,
td {
  border-bottom: 1px solid black;
  padding: 20px;
}

th.fname {
  width: 15%;
  padding-left: 15px;
  padding-right: 15px;
}

th.lname {
  width: 15%;
  margin-right: 25px;
  padding-right: 50px;
}

th.employeeID {
  width: 15%;
  margin-right: 40px;
  padding-right: 70px;
  padding-left: 20px;
}

th.emTitle {
  width: 15%;
  margin-right: 60px;
  padding-right: 80px;
  padding-left: 25px;
}

th.emSalary {
  width: 15%;
  margin-right: 60px;
  padding-right: 80px;
  padding-left: 10px;
}

.totalMonthly p {
  text-align: right;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  margin-right: 200px;
  margin-top: 80px;
  padding-right: 200px;
}
